#  Auto correction

# Referrence : - https://gist.github.com/waldoj/5731016#file-misspelled-words-txt-L1

# Words

In [11]:
import nltk
from autocorrect import Speller
import pandas as pd

In [40]:
wrong_spell = pd.read_fwf("misspelled-words.txt")
wrong_spell

    wrong_spelled_words
0               absense
1            acceptible
2           accidentaly
3            accidently
4            accomodate
..                  ...
376               wierd
377             wilfull
378             withold
379            writeing
380            writting

[381 rows x 1 columns]

In [50]:
words = wrong_spell[:100]
words.shape

(100, 1)

In [51]:
words.duplicated().sum()

0

In [52]:
words.head(10)

  wrong_spelled_words
0             absense
1          acceptible
2         accidentaly
3          accidently
4          accomodate
5           accordian
6             acerage
7             acheive
8          acknowlege
9          acommodate

In [58]:
spell_corrector = Speller(lang ="en")
words["corrected_words"] = words["wrong_spelled_words"].apply(lambda x : spell_corrector(x))
words

C:\Users\User\AppData\Local\Temp\ipykernel_8200\554794353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  words["corrected_words"] = words["wrong_spelled_words"].apply(lambda x : spell_corrector(x))

   wrong_spelled_words corrected_words
0              absense         absence
1           acceptible      acceptable
2          accidentaly    accidentally
3           accidently        accident
4           accomodate     accommodate
..                 ...             ...
95            concious       conscious
96         confortable     comfortable
97        congradulate    congratulate
98       consciencious   conscientious
99            consious       conscious

[100 rows x 2 columns]

# Sentence

In [59]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from autocorrect import Speller

In [64]:
sentence = pd.read_fwf("misspelled-sentence.txt")
sentence = sentence.drop(['Unnamed: 1','Unnamed: 2'],axis=1)
sentence.head()

       Wrong-Sentences
0   I really appreciat
1           I am sory.
2  How does tat sound?
3    That sounds grat.
4         neverr mind.

In [65]:
sentence.duplicated().sum()

0

In [69]:
spell_corrector = Speller(lang ="en")
sentence["corrected_sentence"] = sentence["Wrong-Sentences"].apply(lambda x : spell_corrector(x))
sentence

                  Wrong-Sentences             corrected_sentence
0              I really appreciat            I really appreciate
1                      I am sory.                    I am story.
2             How does tat sound?            How does tat sound?
3               That sounds grat.             That sounds great.
4                    neverr mind.                    never mind.
..                            ...                            ...
95    The job is practicaly done.     The job is practical done.
96    The kids are finaly asleep.     The kids are final asleep.
97  The lid screws onto the jaar.  The lid screws onto the jaar.
98    The light sudenly went out.   The light suddenly went out.
99    The machin is out of order.   The machine is out of order.

[100 rows x 2 columns]